.login-form .ant-form-item {
    margin-bottom: 1.5rem;
}

.login-form .ant-input {
    padding: 10px;
    border-radius: 5px;
}

.login-form .login-form-button {
    height: 45px;
    font-size: 16px;
}